.nav{
    float: right;
    padding-top: 5%;
}
nav a{
    color: #239267;
    text-decoration: none;
}
.logo{
    float: left;
}
.p1{
    width: 100%;
    height: auto;
}
.p2{
    width: 100%;
    height: auto;
}
.p3{
    width: 100%;
    height: auto;
}